* {
    box-sizing: border-box;
}

.dot {
    height: 16px;
    width: 16x;
    border-radius: 50%;
    display: inline-block;
    margin: 8px;
}

.current-slide {
    border: 2px solid white;
}

.image-carousal {
    height: 600px;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
}

.image-carousal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slides {
    align-self: end;
}